/* logo模块 */
.header_1 {
    height: 90px;
    border-bottom: 2px solid #b1191a;
}

/* <!-- 表单模块start --> */
/* 表单头部模块开始 */
.register {
    height: 535px;
    border: 1px solid #dfdfdf;

}

.register_top {
    height: 42px;
    line-height: 42px;
    background-color: #ececec;
}

.register_top h2 {
    float: left;
}

.register_top span {
    float: right;
    font-size: 14px;
    margin-right: 12px;
}

/* 表单头部模块结束 */
/* form模块开始 */
.register_form {
    width: 600px;
    height: 435px;
    margin: 50px auto 0px;
}

/* form模块结束 */
/* <!-- 表单模块ent--> */
.mod_copyright {
    margin-bottom: 40px;
}
.register_form ul li {
    margin-bottom: 20px;
}
.register_form ul li label {
    display: inline-block;
    text-align: right;
    width: 100px;
}
.register_form ul li input {
    margin-right: 8px;
}
.register_form ul li .inp {
    width: 240px;
    height: 37px;
    border: 1px solid #ccc;
}
.register_form ul li span {
    color: #b1191a;
}
.register_form ul li .error,.register_form ul li .correct_2 {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -2px;
    background: url(../images/error.png) no-repeat;
}
.register_form ul li .correct_1 {
    color: green;
}
.register_form ul li .correct_2 {
    background: url(../images/success.png) no-repeat;
}
.register_form ul li:nth-child(4) {
    padding-left: 174px;
}
.register_form ul li:nth-child(4) span:nth-of-type(1) {
    color: #ccc;
}
.register_form .ruo,
.register_form .zhong,
.register_form .qiang {
    padding: 0 12px;
    margin: 0 1px;
    color: #fff;
}
.ruo {
    background-color: #de1111;
}
.zhong {
    background-color: #40b83f;
}
.qiang {
    background-color: #f79100;
}
.register_form ul li:nth-child(6) {
    padding-left: 100px;
}
.register_form ul li:nth-child(6) a{
    color: #93caf0;
}
.xieyi {
    vertical-align: middle;
    margin-top: -2px;
}
.btn {
    width: 200px;
    height: 34px;
    background-color: #c81623;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 110px;
}
